#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
     daniel:sesamo  
  expire: False

users:
  - name: jose # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDcEXPHU9AGJKDwvq3g/Mn4HDFv/MFYWwyfbQoleRT8xANpIUyVSBMJpcEWaRHeYtMYZSB4QLwCL0qELU1VKp8Gz0BFvcWPa9eNY08jYqLMhwFdO53pRTirAhP7FXAvUlaMLa3hfmkRIAU1l2j7RiIlETFgG+4rKMFfYvgBsZxNdf/apVgRAUehbI1ge0ulNcSt8hn+VIdjfeyg0jU2gtWybno6V3ZPBWwOThg+LYHKDmPOdH64uLuhpX7f8rht8UngBYuxj2SdW1E0lDoDekKgGJSggKlnCyDLhXmwoOU5arFqh930P+cN5nrZVpweOdWeg8U7Y3xIiq2HStttqQy4551Ob3EfDVn4aY3YrD2En1pSxwUHXE35Ne08iJG+f5dx1XdwdmgbhWB/Y7h+2Lx6Ak8EBsVIXpnXL0TfltkKJHpl12mQfgmW963wUioWuQ9DM951Ck4WtxcMBHzYmjUm8F4SJEEgEWMBkTV63D3A22OK6czNQursyTRZ7cKX1pk= daniel@daniel-pc
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo

